# Editor locals
**/.vs/
**/.vscode/
**/.idea/
**/.nvimrc
**/.nvimlog
**/.nvim.lua
**/.exrc
**/.codex
**/nvim.log

# OS junk
**/.DS_Store
**/*~
**/.*.sw?

# Lua
**/*.luac

# Env
**/.direnv/
**/.envrc

# app specific
.config/tmux/plugins/
.config/yazi/flavors/
