# Editor locals
**/.vs/
**/.vscode/
**/.idea/
**/.nvimrc
**/.nvimlog
**/.nvim.lua
**/.exrc
**/.codex
**/nvim.log

# OS junk
**/.DS_Store
**/*~
**/.*.sw?

# Lua
**/*.luac

# Python cache
**/__pycache__/
**/*.py[cod]

# Env
**/.direnv/
**/.envrc

# app specific
.config/matugen/themes/
.config/quickshell/settings.ini
.config/niri/colors.kdl
.config/kitty/themes
.config/kitty/current-theme.conf
.config/tmux/plugins/
.config/yazi/flavors/
