@import "colors.css";

* {
  all: unset;
  font-family: "Inter", "JetBrainsMono Nerd Font Propo";
  font-size: 1em;
}

#workspaces,
#workspaces button,
#window,
#clock,
#tray,
#cpu,
#memory,
#pulseaudio,
#bluetooth,
#battery,
#network {
  background-color: @bg0;
  color: @fg0;
  border-radius: 10px;
  padding: 2px 12px;
  margin: 4px 2px;
}

#waybar > box {
  margin: 6px 4px;
  margin-bottom: 0;
}

#workspaces button {
  background-color: @bg1;
  padding-left: 18px;
  padding-right: 18px;
  color: @fg1;
}

#workspaces button:hover {
  background-color: @yellow;
  color: @bg1;
}

#workspaces button.active {
  background-color: @green;
  color: @bg1;
}

tooltip > box {
  padding: 6px 8px;
  border: 2px solid @fg0;
  border-radius: 10px;
  background-color: @bg0;
}

tooltip label {
  color: @fg0;
}
