animations {
    horizontal-view-movement {
        spring damping-ratio=0.75 stiffness=500 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=500 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.75 stiffness=500 epsilon=0.0001
    }
}
