animations {
    slowdown 1.25
    window-open {
        duration-ms 200
        curve "linear"
        custom-shader r"
            vec4 open_circle_tl(vec3 coords_geo, vec3 size_geo) {
                vec3 coords_tex = niri_geo_to_tex * coords_geo;
                vec4 color = texture2D(niri_tex, coords_tex.st);

                float dist = length(coords_tex.st);

                if (dist > niri_clamped_progress * 1.5)
                    color = vec4(0.0);

                return color;
            }

            vec4 open_color(vec3 coords_geo, vec3 size_geo) {
                return open_circle_tl(coords_geo, size_geo);
            }
        "
    }

    window-close {
        duration-ms 100
        curve "linear"
        custom-shader r"
            vec4 close_circle_tl(vec3 coords_geo, vec3 size_geo) {
                vec3 coords_tex = niri_geo_to_tex * coords_geo;
                vec4 color = texture2D(niri_tex, coords_tex.st);

                float p = 1.0 - niri_clamped_progress;

                float dist = length(coords_tex.st);

                if (dist > p * 1.5)
                    color = vec4(0.0);

                return color;
            }

            vec4 close_color(vec3 coords_geo, vec3 size_geo) {
                return close_circle_tl(coords_geo, size_geo);
            }
        "
    }
}
