hotkey-overlay {
    skip-at-startup
}
spawn-at-startup "quickshell"
spawn-at-startup "mako"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-at-startup "swayidle" "-w"

