hotkey-overlay {
    skip-at-startup
}
spawn-at-startup "quickshell"
spawn-at-startup "waybar"
spawn-sh-at-startup "swaybg -i \"$HOME/Pictures/wallpapers/blue_sky.jpg\" -m fill"
spawn-at-startup "mako"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-at-startup "swayidle" "-w"

