window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
}
window-rule {
    match app-id="^kitty$"
    opacity 0.95
    background-effect {
        blur true
    }
}
window-rule {
    match app-id="firefox$"
    match app-id="discord$"
    match app-id="vesktop$"
    match app-id="net.thunderbird.Thunderbird$"
    match app-id="[Oo]bsidian$"
    match app-id="waybar-weather$"
    open-maximized true
}
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
}
layer-rule {
    match namespace="^quickshell$" layer="overlay"
    background-effect {
        blur true
        xray false
    }
}

